<div class="col-md-10">
  <h3>
    <%= user.firstName %> <%= user.lastName %> (#<%= user.id %>)
  </h3>
  <p>Logged in using <%= user.source %></p>
  <p><%= user.email %></p>
  <p>Last visted on <%= user.lastVisited %></p>
  <p><a href="/auth/logout">Logout</a></p>
</div>